#navContainer {
  background-color: #504761;
  box-shadow: 0 6px 24px #aaaaaa;
  color: white;
}
#navContainer a {
  text-decoration: none;
  color: white;
}
#navBarTop {
  color: white;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.navIcon {
  color: white;
  border: none;
  background-color: #504761;
  font-size: 1.5rem;
}
#navbarBottom {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 1rem 0 2rem 0;
}
#appDrawer {
  display: none;
  background-color: #504761;
  height: 100vh;
}
#topIcons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
  font-size: 1.5rem;
}
#menuList {
  padding: 2rem 0 2rem 1rem;
  display: flex;
  flex-direction: column;
}
#menuList a {
  font-size: 2rem;
  margin: 1rem 0;
}
